@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

body {
    background-color: black;
    width: 95%;
    margin: auto;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

a:link,.sub-menu a:visited,.sub-menu a:active,.sub-menu a:hover {
    text-decoration: none;
    color: white;
}

.header {
    background: url('images/starfield-banner.jpg ');
    position: fixed;
    width: 95%;
    z-index: 1000;
}

.header .logo-link {
    padding: 10px;
}

.header .logo {
    width: 110px;
    margin: 11px;
}

.header .logo-wrapper {
    float: left;
}

ul.main-menu {
    font-size: 0;
    float: right;
    margin-right: 1em;
}

ul.main-menu li {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    padding: 30px 14px;
}

ul.main-menu li::before {
    content: "";
    display: block;
    position: absolute;
    top: 20%;
    background: #555555;
    width: 2px;
    height: 60%;
    left: -1px;
}

ul.main-menu li:nth-child(1)::before {
    display:none;
}

.header .search-box {
    float: right;
    margin: 1.7em 2em 0 0;
}

.sub-menu a:link,.sub-menu a:visited,.sub-menu a:active,.sub-menu a:hover {
    text-decoration: none;
    color: white;
}

.sub-menu li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin-left: -4px; ;
}

ul.sub-menu {
    list-style: none;
    /*font-size: 0;*/
    /*clear: both;*/
    padding: 0;
    text-align: center;
}

.sub-menu li::before {
    content: "";
    position: absolute;
    left: -1px;
    z-index: 1;
    top: 20%;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #888;
}
.sub-menu li:nth-child(1)::before {
    display: none;
}

.sub-menu li a {
    padding: 10px 15px;
    background-color: #555;
    font-weight: normal;
}

.search {
    height: 40px;
    width: 156px;
    position: relative;
}

.search input[type=search] {
    width: 156px;
    background-color: #333333;
    padding: 10px 36px 10px 10px;
    box-sizing: border-box;
    position: relative;
    border: none;
    font-size: 14px;
    color: white;
}

.search input[type=submit] {
    background: url("images/search.svg") no-repeat;
    border:none;
    width: 3em;
    height: 3em;
    position: absolute;
    top:3px;
    right: 6px;
}

.nav-search {
    float: left;
}
.nav-social {
    float: left;
    padding: 5px;
}
.share {
    width: 30px;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


.image-line1 {
    padding-top: 180px;
    color: white;
}
.image1-left {
    float: left;
    width: 48%;
    height: 640px;
    background: url('images/pia21924-16.jpg');
    margin-right: 15px;
    position: relative;
}

.image1-right {
    float: left;
    width: 48%;
}

.earth {
    float: left;
    width: 45%;
    height: 320px;
    position: relative;
    background: url('images/mollweide_cycle.jpg') no-repeat;
}

.state {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tag a {
    background: rgba(93, 127, 185, 0.8);
    padding: 6px 12px;
}
.headline {
    background-color:rgba(255, 255, 255, 0.8);
    color: #333333;
    padding: 5px 10px;
    margin-top: 6px;
    font-weight: bold;
}

.nasa-events {
    display: block;
    box-sizing: border-box;
    float: left;
    color: white;
    height: 320px;
    width: 52%;
    margin-left: 15px;
    background-color:rgb(57, 113, 158);
    position: relative;
    font-weight: lighter;
}

.nasa-events h4 {
    margin: 0 8px 3px 8px;
    padding: 8px 0 6px 0;
    border-bottom: solid white;
}

.nasa-events h5 {
    width: 92%;
    margin: 0 8px 3px 8px;
    padding: 8px 0 6px 0;
    border-top: solid white;
    position: absolute;
    bottom: 0;
}

.text {
    padding: 6px 6px;
}
.image1-right-bot {
    background: url('images/s69-39961.jpg') no-repeat;
    height: 310px;
    position: relative;
    margin-top: 15px;
    background-size: cover;
}

.image-line2 {
    height: 320px;
    margin-top: 10px;
    display:flex;
    flex-flow: row wrap;
}

.line2-left {
    background: url('images/ssc2017-14a1.jpg');
    width: 25%;
    position: relative;
    margin-right: 15px;
}

.line2-middle {
    background: url('images/pia22556-16.gif');
    width: 46%;
    position: relative;
}

.line2-right {
    width: 20%;
    margin-left: 15px;
}


.image-line3 {
    height: 320px;
    margin-top: 10px;
    display:flex;
    flex-flow: row wrap;
}

.line3-left {
    background: url('images/nasa-logo.svg');
    width: 24%;
    position: relative;
    margin-right: 15px;
    background-size: cover;
}

.line3-middle1 {
    background: url('images/io-home.gif');
    width: 23%;
    position: relative;
    margin-right: 15px;
}

.line3-middle2 {
    background: url('images/cassini20170809.jpg');
    width: 23%;
    position: relative;
    margin-right: 15px;
}

.line3-right {
    background: url('images/fermiicecube_as.jpg');
    width: 24%;
    position: relative;
    background-size: cover;
}

.line4 {
    text-align: center;
    background-color: #15418c;
    color: white;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    height: 35px;

}

.bottom {
    display: flex;
    flex-flow: row wrap;
    height: 180px;
    padding: 1.25em .7em 3em;
    overflow: hidden;
    color: white;
    position: relative;
}

.bottom-middle p {
    margin: 0px 0px;
    font-size: 0.8rem;
    font-weight: bold;
}

.bottom-right li {
    display: inline-block;
    color: #5d7fb9;
    padding: 0 15px;
    font-size: 0.8rem;
    font-weight: bold;
}

.bottom-right ul {
    position: absolute;
    bottom: 80px;
    right: 0;
}
